body{
    /* background-color: beige; */
    height: 100svh;
    position: relative;
    margin: 0px;
}

/* Player Tourn */
.player-tourn{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;

    top: 30px;
    left: 10px;

    font-size: 15px;
    line-height: 10px;

    .player-tourn__player{
        font-size: 50px;
    }
}