/* SELECT WORD PAGE */
.select-word{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
}